@media screen and (min-width: 769px){ 
    .footerDiv{
         width: 100vw;
         height: 44vh;
         background-color: #24D2B9;
         
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: space-between;
     }
     .footerDiv_body{
         margin-top: 2rem;
     width: 80%;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     
 
     }
     .footerDiv_top_left{
         width: 50%;
         height: 100%;
         display: flex;
         flex-direction: column;
     
     }
     .footerDiv_top_right{
         width: 40%;
         height: 100%;
         display: flex;
         flex-direction: row;
        
         padding-left: 1rem;
     
     
     }
     .left_body{
     height: 100%;
     
     }
     .left_header{
         font-size: 2.9rem;
         color: black;
     }
     .left_bottom{
         margin-top: 1.5rem;
         display: flex;
         flex-direction: row;
         align-items: center;
     }
     .left_bottom_two{
         margin-top: 0.8rem;
         display: flex;
         flex-direction: row;
         align-items: center;
     }
     .left_paragraph{
         margin-left: 1rem;
         color: black;
         font-size: 1.2rem;
     }
   
     .link_list{
         width:25%;
         height: 100%;
         display: flex;
         flex-direction: column;
 
     
     }
     .link_list_two{
         width: 25%;
         height: 100%;
         display: flex;
         flex-direction: column;
     }
     .link{
         margin-top: 1rem;
         font-size: 1.2rem;
         color: black;
         cursor: pointer;
     }
     .footerDiv_bottom{
         width: 100%;
         display: flex;
         align-items: center;
         justify-content: center;
         background-color: rgba(27, 134, 118, 0.2);
     }
     .footerDiv_bottom_body{
         width: 80%;
         height: 4rem;
         display: flex;
         flex-direction: row;
     
     
     }
     .footerDiv_bottom_left{
         width: 40%;
         height: 100%;
         display: flex;
         flex-direction: row;
         align-items: center;
         color: black;
     }
     .footerDiv_bottom_left_header{
         margin-left: 0.5rem;
         font-size: 1.2rem;
     }
     .footerDiv_bottom_WebSeva{
         width: 20%;
        
       
         display: flex;
         align-items: center;
         justify-content: center;
         color: black;
         font-size: 1.2rem;
     }
     .footerDiv_bottom_right{
         width: 40%;
         height: 100%;
         display: flex;
         flex-direction: row-reverse;
         align-items: center;
     }
     .social_image{
         margin-left: 0.6rem;
     }
 
     .WebSeva_text{
         color: #2C72FA;
     }
 }
 
 @media screen and (max-width: 769px){
     .footerDiv{
         width: 100vw;
         height: auto;
         background-color: #24D2B9;
        
         
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: space-between;
     }
     .footerDiv_body{
         margin-top: 2rem;
         margin-bottom: 2rem;
         width: 100%;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
     
 
     }
     .footerDiv_top_left{
         width: 100%;
         height: 50%;
         display: flex;
         flex-direction: column;
        
         padding-left: 1rem;
     
     }
     .footerDiv_top_right{
         margin-top: 1rem;
         width: 100%;
         height: 50%;
         display: flex;
         flex-direction: column;
        
         padding-left: 1rem;
      
     
     }
     .left_body{
     height: 100%;
     
     }
     .left_header{
         font-size: 2.9rem;
         color: black;
     }
     .left_bottom{
         margin-top: 1.5rem;
         display: flex;
         flex-direction: row;
         align-items: center;
     }
     .left_bottom_two{
         margin-top: 1rem;
         display: flex;
         flex-direction: row;
         align-items: center;
     }
     .left_paragraph{
         margin-left: 1rem;
         color: black;
         font-size: 1.2rem;
     }
     /* .footerDiv_top_right{
         width: 100%;
         height: 100%;
         display: flex;
         flex-direction: row;
     
     } */
     .link_list{
         width:25%;
         height: 100%;
         display: flex;
         flex-direction: column;
     
     }
     .link_list_two{
         width: 25%;
         height: 100%;
         display: flex;
         flex-direction: column;
     }
     .link{
         margin-top: 1rem;
         font-size: 1.2rem;
         color: black;
         cursor: pointer;
     }
     .footerDiv_bottom{
         width: 100%;
         display: flex;
         align-items: center;
         justify-content: center;
         background-color: rgba(27, 134, 118, 0.2);
     }
     .footerDiv_bottom_body{
         width: 100%;
         height: 4rem;
         display: flex;
         flex-direction: row;
         padding-left: 1rem;
         padding-right: 1rem;
     
     
     }
     .footerDiv_bottom_left{
         width: 50%;
         height: 100%;
         display: flex;
         flex-direction: row;
         align-items: center;
         color: black;
     }
     .footerDiv_bottom_left_header{
         margin-left: 0.5rem;
         font-size: 1.2rem;
     }
     .footerDiv_bottom_WebSeva{
        display: none;
     }
     .footerDiv_bottom_right{
         width: 50%;
         height: 100%;
         display: flex;
         flex-direction: row-reverse;
         align-items: center;
     }
     .social_image{
         margin-left: 0.6rem;
     }
 
     .WebSeva_text{
         color: #2C72FA;
     }
 
 }